@charset "utf-8";

//importing modules
@import './modules/reset';
@import './modules/vars'; 
@import './modules/header';
@import './modules/footer';
@import './modules/landing';
@import './modules/about';
@import './modules/contact';
@import './modules/portfolio';
@import './modules/submit';
@import './modules/lightbox';