<main class="pageHome">
    <section class="secAbout">
        <h2 class="hidden">About</h2>
        <div class="strengths">
            <h3 class="hidden">Strengths</h3>
            <div class="strength s1">
                <object data="images/icons/speed.svg" type="image/svg+xml"></object>
                <h4>Speed</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, labore unde velit rerum.</p>
            </div>
            
            <div class="strength s2">
                <object data="images/icons/debugging.svg" type="image/svg+xml"></object>
                <h4>Debugging</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, labore unde velit rerum.</p>
            </div>

            <div class="strength s3">
                <object data="images/icons/creativity.svg" type="image/svg+xml"></object>
                <h4>Creativity</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, labore unde velit rerum.</p>
            </div>
        </div>

        {{!-- maybe add this? --}}
        {{!-- <div class="stats">
            <h3>Game Stats</h3>
            <div class="stat design">
                <object data="images/icons/desStats.svg" type="image/svg+xml"></object>
            </div>

            <div class="stat frontend">
                <object data="images/icons/frontStats.svg" type="image/svg+xml"></object>
            </div>

            <div class="stat backend">
                <object data="images/icons/frontStats.svg" type="image/svg+xml"></object>
            </div>
        </div> --}}
    </section>

    <section class="secPortfolio">
        <h2 class="hidden">Portfolio</h2>
        <nav class="portfolioNav">
            <ul class="projList">
                <li class="pItem li1">Port Item</li>
                <li class="pItem li2">Port Item</li>
                <li class="pItem li3">Port Item</li>
                <li class="pItem li4">Port Item</li>
            </ul>
        </nav>

        {{!-- use hbs each view here! --}}
        <div class="projView">
            <div class="projInfo proj1 view">
                <h3 class="projTitle">Project 1</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, rerum vero, dicta dolorum beatae incidunt corrupti ullam distinctio repudiandae quo nemo ipsam, ad aliquid sunt voluptas recusandae et placeat consequuntur.</p>
                    <div class="projMockups"></div>
                    <div class="appsUsed">
                        <label class="app">app</label>
                        <label class="app">app</label>
                        <label class="app">app</label>
                        <label class="app">app</label>
                    </div>
                    <div class="projImages">
                    {{!-- add image carossel here --}}
                    </div>
            </div>
            
            <div class="projInfo proj2">
                <h3 class="projTitle">Project 2</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, rerum vero, dicta dolorum beatae incidunt corrupti ullam distinctio repudiandae quo nemo ipsam, ad aliquid sunt voluptas recusandae et placeat consequuntur.</p>
                    <div class="projMockups"></div>
                    <div class="appsUsed">
                        <label class="app">app</label>
                        <label class="app">app</label>
                        <label class="app">app</label>
                        <label class="app">app</label>
                    </div>
                    <div class="projImages">
                    {{!-- add image carossel here --}}
                    </div>
            </div>

            <div class="projInfo proj3">
                <div>
                    <h3 class="projTitle">Project 3</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, rerum vero, dicta dolorum beatae incidunt corrupti ullam distinctio repudiandae quo nemo ipsam, ad aliquid sunt voluptas recusandae et placeat consequuntur.</p>
                    <div class="projMockups"></div>
                    <div class="appsUsed">
                        <label class="app">app</label>
                        <label class="app">app</label>
                        <label class="app">app</label>
                        <label class="app">app</label>
                    </div>
                </div>
                
                    <div class="projImages">
                    {{!-- add image carossel here --}}
                    </div>
            </div>

            <div class="projInfo proj4">
                <h3 class="projTitle">Project 4</h3>
                    <p class="projDesc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, rerum vero, dicta dolorum beatae incidunt corrupti ullam distinctio repudiandae quo nemo ipsam, ad aliquid sunt voluptas recusandae et placeat consequuntur.</p>
                    <div class="projMockups"></div>
                    <div class="appsUsed">
                        <label class="app">app</label>
                        <label class="app">app</label>
                        <label class="app">app</label>
                        <label class="app">app</label>
                    </div>
                    <div class="projImages">
                    {{!-- add image carossel here --}}
                    </div>
            </div>
            
        </div>
    </section>
</main>
<div class="divide-bottom"></div>

    <section class="secContact">
        <h2>Contact</h2>
        <form action="submit" method="post">
            <input type="text" placeholder="Name" id='name'>
            <input type="email" name="email" id='email' placeholder="Email">
            <input id='subject' name='subject' type="text" placeholder='Subject'>
            <textarea id='message' name='message' placeholder="Message"></textarea>

            <button type="submit">send</button>
        </form>
    </section>

