<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon.ico"> 
    {{!-- css link --}}
    <link rel="stylesheet" href="css/style.css">
    {{!-- font-awesome link --}}
    <script src="https://kit.fontawesome.com/066bb77ccc.js" crossorigin="anonymous"></script>
    {{!-- Waypoints link --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
    {{!-- GSAP link --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    {{!-- Google-fonts link --}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <script src="js/three.min.js"></script>

    <title>Malek Farag{{pageTitle}}</title></head>
<body>
    <h1 class="hidden">Malek Farag's Portfolio Site</h1>
    {{!-- Lightbox --}}
    <div class="lightbox off">
        <p class="close">x</p>
        <img src="#" class="lightImg">
        <p class="lightCap"></p>
    </div>

    {{!-- landing section --}}
    <div class="landing secHome">
        <div class="landingInfo">
            <h2 class="landingTitle">
                Hello,<br>
                I'm <span>Malek Farag</span>, front-end web developper</h2>
            <div class="viewWork scroll" id='Portfolio'>
                <label>My Work</label> 
            </div>
        </div>
        
    </div>

    <header class="mainHeader">
<svg version="1.1" class="arrow scroll" id="About" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1000 1000" style="enable-background:new 0 0 1000 1000;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#ffffff;stroke:#FFFFFF;stroke-width:50;stroke-miterlimit:10;}
</style>
<polyline class="st0" points="934,342.88 721.8,551.19 509.6,759.5 297.4,551.19 85.2,342.88 "/>
</svg>
        <div class="logoDiv scroll" id='Home'>
        <svg version="1.1" class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 240.25 247.25" style="enable-background:new 0 0 240.25 247.25;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#000000;stroke-width:14;stroke-miterlimit:10;}.st1{fill:none;stroke:#000000;stroke-width:19;stroke-miterlimit:10;}.line{ transition: .25s all ease .25s;}.white{stroke: #ffffff;}</style><g id="_x32_"><polyline class="st0 line" points="51.25,190 51.25,31.63 124.59,114.24 	"/><polyline class="st1 line" points="202.75,227 202.75,35 19.75,225.5 	"></g></svg>                      
        </div>
        <div class="burgerMenu">
            <div class="bLine bl1"></div>
            <div class="bLine bl2"></div>
            <div class="bLine bl3"></div>
        </div>
        <nav class="headNav">
            <ul class="navList">
                    <li class="navItem scroll" id='Home'>Home</li>
                    <li class="navItem scroll" id='About'>About</li>
                    <li class="navItem scroll" id='Portfolio'>Portfolio</li>
                    <li class="navItem scroll" id='Contact'>Contact</li>
            </ul>
        </nav>
    </header>

  {{{body}}}

      <footer class="mainFooter">
        <div class="social">
            <a href="https://github.com/MalekFarag"><i class="git fab fa-github-alt"></i></a>
            <a href="https://www.linkedin.com/in/malek-farag-1b6300182/"><i class="linkedin fab fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/malekfarag14/"><i class="insta fab fa-instagram"></i></a>
        </div>
        <nav class="footNav">
            <ul class="navList">
                <li class="scroll" id='Home'>Home</li>
                <li class="scroll" id='About'>About</li>
                <li class="scroll" id='Portfolio'>Portfolio</li>
                <li class="scroll" id='Contact'>Contact</li>
            </ul>
        </nav>
    </footer>
    <p class="copyright">Malek Farag© 2020. All rights reserved.</p>
    <script src="js/hamburgerMenu.js"></script>
    <script src="js/hover-move.js"></script>
    <script src="js/gallery.js"></script>
    <script src="js/mail.js"></script>
    <script src="js/landing.js"></script>
</body>
</html>