<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- css link --}}
    <link rel="stylesheet" href="css/style.css">
    {{!-- font-awesome link --}}
    <script src="https://kit.fontawesome.com/066bb77ccc.js" crossorigin="anonymous"></script>

    <title>Malek Farag{{pageTitle}}</title>
</head>
<body>
    <h1 class="hidden">Malek Farag's Portfolio Site</h1>

    {{!-- landing section --}}
    {{!-- <canvas class="landing">
        <h2 class="landingTitle">
            Hello,<br>
            I'm <span>Malek Farag</span>, full-stack web developper</h2>
        <div class="viewWork">
            <label>My Work</label> <object data="images/icons/arrow.svg" type="image/svg+xml" class="landingArrow"></object>
        </div>
    </canvas> --}}

    <header class="mainHeader">
        <a class="logoDiv" href="/"><object data="images/logo/logoS.svg" type="image/svg+xml" class="logo"></object></a>
        <div class="burgerMenu">
            <div class="bLine bl1"></div>
            <div class="bLine bl2"></div>
            <div class="bLine bl3"></div>
        </div>
        <nav class="headNav">
            <ul class="navList">
                    <li class="navItem"><a href="/">Home</a></li>
                    <li class="navItem"><a href="about">About</a></li>
                    <li class="navItem"><a href="portfolio">Portfolio</a></li>
                    <li class="navItem"><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>

  {{{body}}}

      <footer class="mainFooter">
        <div class="social">
            <a href="#"><i class="git fab fa-github-alt"></i></a>
            <a href="#"><i class="linkedin fab fa-linkedin-in"></i></a>
            <a href="#"><i class="insta fab fa-instagram"></i></a>
        </div>
        <nav class="footNav">
            <ul class="navList">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </footer>
    <script src="js/hamburgerMenu.js"></script>
</body>
</html>