<link rel="stylesheet" href="css/style.css">
<main class="pageSubmit">
    <div class="info">
            <h1 class="suc">
                Success!
            </h1>
            <p class="msg">We've successfully recieved your email<br>
            We'll be in touch soon :)</p>

            <p class="redirect">go back to<br><a href="/">home</a></p>

    </div>
    
</main>