//about page

.secAbout{
    padding-bottom: 150px;
    background-color: white;
    .strengths{
        @include flex-center(column);
        
        .strength{
            width: 99%;
            margin: 0 auto;
            margin-top: 100px;
            h4{
                margin-top: 20px;
                font-size: $sub-head-sizeM;
            }
            p{
                margin-top: 20px;
                font-size: $para-sizeM;
            }
        }
    }
}