//contact section

.secContact{
    padding-top: 100px;
    background-color: $background-color;
    width: 100%;
    form{
        @include flex-center(column);

        input, textarea{
            width: 70%;
            background-color: lightblue;
            border: none;
            margin-top: 10px;

            color: black;
            padding: 10px;
            border-radius: 10px;
        }

        textarea{
            height: 120px;
        }
        button{
            margin-top: 10px;
            border: solid 1px black;
            border-radius: 10px;
            padding: 10px 25px;
        }
    }
}