//footer

.mainFooter{
    @include flex-center(column);
    justify-content: space-evenly;
    background-color: $background-color;
    color: white;

    padding: 60px 0px;

    .social{
        @include flex-center(row);
        justify-content: space-evenly;
        .fab{
            color: white;
            margin: 20px;
            padding: 6px;
            font-size: $para-sizeM;
            transform: scale(1.05, 1.05);
            border-radius: 3%;
            cursor: pointer;

            transition: all .2s ease;

            &:hover{
                background: white;
                color: #28BFBE;
            }
        }
    }

    .footNav{
        margin-top: 10px;
        .navList{
            @include flex-center(row);
            justify-content: space-evenly;
            li{
                margin: 8px;
                padding: 6px;
                font-size: $para-sizeM; 
                text-transform: lowercase;
                transform: scale(1.05, 1.05);
                border-radius: 3%;
                cursor: pointer;
                transition: all .2s ease;
                &:hover{
                    background: white;
                    color: #28BFBE;
                }
            }
        }
    }
}

.copyright{
    font-family: arial;
    color: white;
    width: 100%;
    font-size: 9px;
    text-align: right;
}