//footer

.mainFooter{
    @include flex-center(column);
    justify-content: space-evenly;
    background-color: $background-color;
    color: white;

    padding: 60px 0px;

    .social{
        @include flex-center(row);
        justify-content: space-evenly;
        .fab{
            color: white;
            margin: 20px;
            font-size: $para-sizeM;
            cursor: pointer;

            transition: all .2s ease;

            &:hover{
                color: royalblue;
            }
        }
    }

    .footNav{
        margin-top: 10px;
        .navList{
            @include flex-center(row);
            justify-content: space-evenly;
            li{
                margin: 10px;
                font-size: $para-sizeM; 
                cursor: pointer;
                transition: all .2s ease;
                &:hover{
                    color: royalblue;
                }
            }
        }
    }
}
   
