// portfolio sec
.secPortfolio{
    background: $main-background-color;

    h2{
        font-size: 24px;
        width: 100%;
        text-align: center;
    }
    .portfolioNav{
        .projList{
            @include flex-center(row);
            justify-content: space-evenly;
            .pItem{
                font-size: 18px;
                border-bottom: solid 3px rgba(0,0,0,0);
                padding: 7px;
                margin: 6px;
                cursor: pointer;

                transition: all .18s ease;
                &:hover{
                    color: white;
                    background-color: rgba(0,0,0,.85);
                    border-bottom: solid 3px rgba(0,0,0,0);
                    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);

                    bottom: 2px;
                }
            }
            .active{
                color: white;
                background-color: rgba(0,0,0,.85);
                border-bottom: solid 3px rgba(0,0,0,0);
                box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);

                bottom: 2px;
        }
        }
    }

    .projView{
        margin: 100px auto;
        .projInfo{
            @include flex-center(column);
            background-color: white;
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
            justify-content: space-evenly;
            text-align: center;
            margin: 0 auto;
            padding: 30px;
            width: 90%;
            max-width: 700px;
            .projTitle{
                font-size: 24px;
            }
            .projDesc{
                margin-top: 30px;
                font-size: 14px;
                letter-spacing: 1px;
            }

            .parMocks{
                @include flex-center(row);
                justify-content: space-evenly;
                margin: 0 auto;
            }
            .projMockups{
                margin-top: 20px;
                width: 100%;
            }
            .projMockups:nth-child(2){
                display: none;
            }
            .appsUsed{
                width: 100%;
                max-width: 1200px;
                margin-top: 20px;
                @include flex-center(row);
                justify-content: space-evenly;
                flex-wrap: nowrap;
                .app{
                    cursor: pointer;
                    font-size: 10px;
                    color: white;
                    background-color: rgba(0,0,0,.85);
                    padding: 6px 8px;
                    border-radius: 20px;

                    transition: all .18s ease;
                    &:hover{
                        opacity: .7;
                    }
                }
            }
            .projImages{
                margin-top: 30px;
                max-width: 900px;
                @include flex-center(row);
                justify-content: space-evenly !important;
                flex-wrap: wrap;
                align-content: flex-start;
                align-items: flex-start;
            }

            .pImg{
                width: auto;
                height: 90px;
                margin: 5px;
            }
            .more{
                color: rgba(0, 0, 0, 0.9);
                margin-top: 30px;
                padding-top: 30px;
                border-top: solid 3px rgba(0, 0, 0, 0.9);
                text-decoration: none;
                font-weight: bolder;
                transition: all .2s ease;
                &:hover{
                    // border-bottom: solid 2px rgba(0, 0, 0, 0.9);
                    box-shadow: 0px 8px 0px -5px rgba(0,0,0,0.9);
                }
            }
        }
        
        .view{
            position: relative;
            opacity: 1;
            transform: scale(1) translateY(0px); 
        }
    }

    .video{
        width: 100%;

        h2{
            width: 95%;
            margin: 30px auto;
            text-align: center;
            font-size: 26px;
        }

        video{
            width: 98%;
            margin: 0 auto;
            max-width: 600px;
        }
    }

    .allP{
        padding-bottom: 20px;
    }

    .allProjs{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-evenly;
        margin: 50px auto;
        

        .proj{
            display: flex;
            flex-direction: column;
            margin: 20px auto;
            max-width: 35%;
            padding: 15px 20px;
            text-align: center;

            background-color: white;
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
            transition: all .3s ease;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            }

            .projTitle{
                font-size: 24px;
            }

            .projMock{
                margin-top: 20px;
                width: 100%;
            }
            .more{
                color: rgba(0, 0, 0, 0.9);
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                width: 25%;
                padding-top: 20px;
                border-top: solid 3px rgba(0, 0, 0, 0.9);
                text-decoration: none;
                font-weight: bolder;
                transition: all .2s ease;
                &:hover{
                    box-shadow: 0px 8px 0px -5px rgba(0,0,0,0.9);
                }
            }
            

        }
    }
}

@media only screen and (min-width: 700px){
    .secPortfolio{
        h2{
            font-size: 30px;
        }
        .projInfo{
            .parMocks{
                max-width: 1000px;
                .projMockups{
                    width: 40%;
                }
                .projMockups:nth-child(2){
                    display: block;
                    order: -1;
                }
            }
        }

        .allProjsWrap{
            background-color: whitesmoke;
            padding: 75px 0;
        }
        .allProjs{
            max-width: 1200px;
            .proj{
                max-width: 27%;
                margin: 10px auto;
            }
        }
    }
}