//vars
    //mobile
    $head-sizeM: 32px;
    $sub-head-sizeM: 28px;
    $para-sizeM: 18px;

    $background-color: linear-gradient(0deg, rgb(34,193,195) 5%, rgb(228, 29, 62) 95%);
    $main-background-color: rgba(255, 255, 255, 0.995);




//global rules
.hidden{
    display: none !important;
}


canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
}

body{
    width: 100%; 
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #191919;
}

main{
    margin: 0 auto; 
    min-height: 90%;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow-x: hidden;
}

section{
    margin: 0 auto;
    transform: translateY(-5px);
    overflow-x: hidden;
}



//mixins

@mixin flex-center ($dir){
    display: flex;
    flex-direction: $dir;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
